<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @discount.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @discount.end %>
</p>

<p>
  <strong>Discounttype:</strong>
  <%= @discount.DiscountType_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @discount.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @discount.category_id %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
